In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count
* Display the total number of players

In [6]:
unique_players = purchase_data['SN'].unique()
num_players = len(unique_players)
total_players = pd.DataFrame({'Total Players':[num_players]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)
* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
num_unique = len(purchase_data['Item ID'].unique())
avg_price = purchase_data['Price'].mean()
num_purchases = len(purchase_data['Price'])
total_rev = purchase_data['Price'].sum()
purchase_analysis = pd.DataFrame({'Number of Unique Items': num_unique,
                                  'Average Price': avg_price,
                                  'Number of Purchases':[num_purchases],
                                  'Total Revenue':[total_rev]
                                 })
purchase_analysis['Average Price'] = purchase_analysis['Average Price'].map("${:.2f}".format)
purchase_analysis['Total Revenue'] = purchase_analysis['Total Revenue'].map("${:,.2f}".format)
purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics
* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [126]:
#gender_groups = purchase_data.groupby(['Gender'])
unique_people = purchase_data.drop_duplicates(subset = ['SN'],keep='first')
#unique_gender = gender_groups.drop_duplicates(subset = ['SN'])
gender_groups = unique_people.groupby(['Gender'])
counts = gender_groups.size().tolist()
fplayers = counts[0]
mplayers = counts[1]
oplayers = counts[2]
tplayers = fplayers + mplayers + oplayers
perc_f = (fplayers/tplayers)*100
perc_m = (mplayers/tplayers)*100
perc_o = (oplayers/tplayers)*100
totals = gender_groups['total_players'].count()
totals['Percentage of Players'] = ([perc_f,perc_m,perc_o])
totals['Percentage of Players'] = totals['Percentage of Players'].map("{:.2f}%".format)
#totals.sort_values("total_players",ascending = False)

KeyError: 'Column not found: total_players'

## Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender



* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
gen_analysis = pd.DataFrame({'Gender':[],
                             'Purchase Count':[],
                             'Average Purchase Price':[],
                             'Total Purchase Value':[],
                             'Avg Total Purchase per Person':[],
                            })

In [20]:
gender_purchase = purchase_data.groupby(['Gender'])
gen_price = gender_purchase['Price'].mean().tolist()
gen_num = gender_purchase['Price'].count().tolist()
gen_totalval = gender_purchase['Price'].sum().tolist()


gen_analysis = gen_analysis.append({'Gender':"Female",
                     'Purchase Count':gen_num[0],
                     'Average Purchase Price':gen_price[0],
                     'Total Purchase Value':gen_totalval[0],
                     'Avg Total Purchase per Person':[gen_totalval[0]/gen_num[0]]
                          }, ignore_index=True)

In [21]:

gen_analysis = gen_analysis.append({'Gender':"Male",
                     'Purchase Count':gen_num[1],
                     'Average Purchase Price':gen_price[1],
                     'Total Purchase Value':gen_totalval[1],
                     'Avg Total Purchase per Person':[gen_totalval[1]/gen_num[1]]
                          }, ignore_index=True)

In [22]:
gen_analysis = gen_analysis.append({'Gender':"Other / Non-Disclosed",
                     'Purchase Count':gen_num[2],
                     'Average Purchase Price':gen_price[2],
                     'Total Purchase Value':gen_totalval[2],
                     'Avg Total Purchase per Person':gen_totalval[2]/gen_num[2]
                          }, ignore_index=True)

## Age Demographics
* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [124]:
bins = [0,10,15,20,25,30,35,40,150] 
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
age_dem = purchase_data.drop_duplicates(subset = ['SN'],keep='first')
age_dem["Age Range"] = pd.cut(age_dem["Age"],bins,labels = group_names)
age_dem = age_dem.groupby(["Age Range"])
age_count = age_dem.SN.count().unique()
total_count = 0
for i in age_count:
    total_count = total_count + i

C:\Users\Aaron\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [87]:
age_count_summary = pd.DataFrame([
                                {'Age Range':"<10",'Total Count':age_count[0],'Percentage of Players':age_count[0]/total_count},
                                {'Age Range':"10-14",'Total Count':age_count[1],'Percentage of Players':age_count[1]/total_count},
                                {'Age Range':"15-19",'Total Count':age_count[2],'Percentage of Players':age_count[2]/total_count},
                                {'Age Range':"20-24",'Total Count':age_count[3],'Percentage of Players':age_count[3]/total_count},
                                {'Age Range':"25-29",'Total Count':age_count[4],'Percentage of Players':age_count[4]/total_count},
                                {'Age Range':"30-34",'Total Count':age_count[5],'Percentage of Players':age_count[5]/total_count},
                                {'Age Range':"35-39",'Total Count':age_count[6],'Percentage of Players':age_count[6]/total_count},
                                {'Age Range':"40+",'Total Count':age_count[7],'Percentage of Players':age_count[7]/total_count}
                                ])
age_count_summary.set_index(['Age Range'])

           Percentage of Players  Total Count
Age Range
<10                     0.041667           24
10-14                   0.071181           41
15-19                   0.260417          150
20-24                   0.402778          232
25-29                   0.102431           59
30-34                   0.064236           37
35-39                   0.045139           26
40+                     0.012153            7

## Purchasing Analysis (Age)
* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [103]:
ttl_prchs = age_dem.Price.sum()

In [96]:
age_count

array([ 24,  41, 150, 232,  59,  37,  26,   7], dtype=int64)

In [107]:
test = pd.DataFrame({
                    "Purchase Count": age_count,
                    "Average Purchase Price":ttl_prchs/age_count,
                    "Total Purchase Value":ttl_prchs
})
test

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
<10                    24                3.424167                 82.18
10-14                  41                2.937317                120.43
15-19                 150                3.178933                476.84
20-24                 232                3.017371                700.03
25-29                  59                2.898644                171.02
30-34                  37                3.004054                111.15
35-39                  26                3.287308                 85.47
40+                     7                3.075714                 21.53

## Top Spenders
* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [116]:
persn = purchase_data.groupby(["SN"])
persn.head()
prchs_count = persn.Price.count()
prchs_ttl = persn.Price.sum()

In [122]:
sn_df = pd.DataFrame({
                    'Purchase Count': prchs_count,
                    'Total Purchase Value': prchs_ttl,
                    'Average Purchase Price':prchs_ttl/prchs_count
                    })
sn_df.sort_values(['Total Purchase Value'],ascending = False).head()

             Purchase Count  Total Purchase Value  Average Purchase Price
SN
Lisosia93                 5                 18.96                3.792000
Idastidru52               4                 15.45                3.862500
Chamjask73                3                 13.83                4.610000
Iral74                    4                 13.62                3.405000
Iskadarya95               3                 13.10                4.366667

## Most Popular Items
* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [152]:
pop_items = purchase_data[['Item ID','Item Name','Price']]
pop_items = pop_items.groupby(['Item ID','Item Name'])
purch_count = pop_items['Item ID'].count()

In [155]:
new_df = pd.DataFrame({
                    'Purchase Count':purch_count,
                    'Item Price':pop_items['Price']
})
new_df.head()

,,Purchase Count,Item Price
Item ID,Item Name,,
0,Splinter,4,"((0, Splinter), [1.28, 1.28, 1.28, 1.28])"
1,Crucifer,3,"((1, Crucifer), [3.26, 3.26, 3.26])"
2,Verdict,6,"((2, Verdict), [2.48, 2.48, 2.48, 2.48, 2.48, ..."
3,Phantomlight,6,"((3, Phantomlight), [2.49, 2.49, 2.49, 2.49, 2..."
4,Bloodlord's Fetish,5,"((4, Bloodlord's Fetish), [1.7, 1.7, 1.7, 1.7,..."